<div fxLayout="column" fxLayoutAlign="center center">
  <form class="form" [formGroup]="exchangeForm">
    <div class="form__title">I want to convert</div>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <mat-form-field fxFlex="15">
        <input
          matInput
          placeholder="Amount"
          type="number"
          min="0"
          formControlName="amountCtrl"
        />
        <mat-error *ngIf="amountCtrl.invalid">
          You must enter a value
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="auto">
        <input
          matInput
          placeholder="From"
          [matAutocomplete]="fromAutoComplete"
          formControlName="fromCtrl"
        />
        <mat-error *ngIf="fromCtrl.invalid">
          You must select a value
        </mat-error>

        <mat-autocomplete
          #fromAutoComplete="matAutocomplete"
          autoActiveFirstOption="true"
          [displayWith]="displayFn"
          (optionSelected)="onFromCurrencySelected($event.option)"
        >
          <ng-container>
            <mat-option
              *ngFor="let item of filteredFromCurrencyItems"
              [value]="item"
            >
              <span>{{ item.currency }}</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>

      <button
        class="form__change-button"
        mat-raised-button
        (click)="changeFromToValues()"
      >
        <mat-icon>compare_arrows</mat-icon>
      </button>

      <mat-form-field fxFlex="auto">
        <input
          matInput
          placeholder="To"
          [matAutocomplete]="toAutoComplete"
          formControlName="toCtrl"
        />
        <mat-error *ngIf="toCtrl.invalid"> You must select a value </mat-error>

        <mat-autocomplete
          #toAutoComplete="matAutocomplete"
          autoActiveFirstOption="true"
          [displayWith]="displayFn"
          (optionSelected)="onToCurrencySelected($event.option)"
        >
          <ng-container>
            <mat-option
              *ngFor="let item of filteredToCurrencyItems"
              [value]="item"
            >
              <span>{{ item.currency }}</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>

      <button
        class="form__convert-button"
        mat-raised-button
        color="primary"
        (click)="convertCurrency()"
      >
        CONVERT
      </button>
    </div>
  </form>

  <div *ngIf="conversionResult" class="conversion-result">
    <div>
      <span class="conversion-result__from">{{
        conversionResult.amount + " " + conversionResult.from.currency + " = "
      }}</span>
      <span class="conversion-result__to">{{
        (conversionResult.result | number: "1.1-2") +
          " " +
          conversionResult.to.currency
      }}</span>
    </div>
    <div class="conversion-result__unit">
      <div>
        {{ conversionResult.from | currencyUnitRate: conversionResult.to }}
      </div>
      <div>
        {{ conversionResult.to | currencyUnitRate: conversionResult.from }}
      </div>
    </div>
  </div>

  <div class="exchangeHistory" *ngIf="exchangeHistory">
    <app-exchange-history
      [exchangeHistory]="exchangeHistory"
      [statistics]="statistics"
      [currency]="getFromCurrencyValue()"
    ></app-exchange-history>
  </div>
</div>
