@import "../../assets/styles/variables.scss";

.form {
  width: 100%;
  &__title {
    font-size: 48px;
    font-weight: bold;
    color: $default-color;
    padding-bottom: 32px;
    padding-top: 32px;
  }
  &__change-button {
    color: $primary-color;
  }
  &__convert-button {
    background-color: $primary-color;
  }
}

.conversion-result {
  margin-bottom: 32px;
  &__from {
    font-size: 48px;
    color: $default-color;
  }
  &__to {
    font-size: 48px;
    font-weight: bold;
    color: $accent-color;
  }
  &__unit {
    text-align: center;
    color: $default-color;
  }
}

.exchangeHistory {
  width: 100%;
}
