@import "../../../assets/styles/variables.scss";

.title {
  font-size: 24px;
  font-weight: bold;
  color: $default-color;
  padding-bottom: 32px;
  padding-top: 32px;
}

.mat-header-cell {
  font-size: 16px;
  font-weight: bold;
  color: $table-header-color;
}

.mat-cell {
  font-size: 16px;
}
