<div class="title">Exchange History</div>
<mat-form-field>
  <mat-select
    placeholder="Duration"
    [(value)]="duration"
    (selectionChange)="onDurationChange($event)"
  >
    <mat-option *ngFor="let item of durations" [value]="item.value">
      {{ item.title }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
  <table mat-table [dataSource]="exchangeHistory" matSort fxFlex="50">
    <!-- Date Column -->
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.timestamp | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <!-- Rate Column -->
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Exchange Rate</th>
      <td mat-cell *matCellDef="let element">
        {{ (+element.rate).toFixed(7) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <table mat-table [dataSource]="statistics" fxFlex="50">
    <!-- Date Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Statistics</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">{{ element.value }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedStatsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedStatsColumns"></tr>
  </table>
</div>
