@import "../../../assets/styles/variables.scss";

.header {
  position: fixed;
  border-bottom: 1px solid #b5b5b596;
  padding: 0;
  background: white;
  z-index: 1;
  &__icon {
    color: $primary-color;
  }
  &__navbar {
    height: 100%;
    padding-left: 32px;
    &__button {
      height: 100%;
      color: #8d8d8d;
      font-weight: bold;
      &.active {
        border-bottom: 3px solid green;
        border-radius: 0;
        color: #404040;
      }
    }
  }
  &__logout {
    height: 100%;
    color: $primary-color;
    font-weight: bold;
  }
}
