<mat-toolbar fxLayout="row" class="header">
  <span fxFlex="200px"></span>
  <span fxFlex="auto" fxLayoutAlign="start center" fxFlexFill>
    <mat-icon class="header__icon">find_replace</mat-icon>
    Currency<b>Exchange</b>
    <span
      *ngIf="authService.getUser()"
      fxFlex="auto"
      fxLayoutAlign="space-between center"
      fxFlexFill
    >
      <span class="header__navbar">
        <button
          class="header__navbar__button"
          routerLink="/currency-converter"
          routerLinkActive="active"
          mat-button
        >
          CURRENCY CONVERTER
        </button>
        <button
          class="header__navbar__button"
          routerLink="/conversion-history"
          routerLinkActive="active"
          mat-button
        >
          VIEW CONVERSION HISTORY
        </button>
      </span>
      <button class="header__logout" mat-button (click)="logout()">
        LOGOUT
      </button>
    </span>
  </span>
  <span fxFlex="200px"></span>
</mat-toolbar>
