@import "../../assets/styles/variables.scss";

.container {
  height: 100%;
}
.form {
  max-width: 400px;
  width: 100%;
  align-self: center;
  &__title {
    padding: 0;
    font-size: 48px;
    font-weight: bold;
    color: $default-color;
  }
  &__button {
    background-color: $primary-color;
  }
}
