<div fxFlexFill fxLayout="row" fxLayoutAlign="center" class="container">
  <form class="form">
    <div class="form__title">Login</div>

    <div fxLayout="column">
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          [formControl]="usernameCtrl"
          autocomplete="off"
        />
        <mat-error *ngIf="usernameCtrl.invalid"
          >You must enter a value</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          type="password"
          [formControl]="passwordCtrl"
        />
        <mat-error *ngIf="passwordCtrl.invalid">
          You must enter a value
        </mat-error>
      </mat-form-field>

      <div>
        <button
          class="form__button"
          mat-raised-button
          color="primary"
          (click)="login()"
        >
          LOGIN
        </button>
      </div>
    </div>
  </form>
</div>
