<app-header></app-header>
<div fxFlexFill fxLayout="row">
  <div class="container" fxFlex fxFlexOffset="200px" fxLayout="column">
    <router-outlet></router-outlet>
  </div>
  <span fxFlex="200px"></span>
</div>
