<div class="title">Conversion history</div>
<table mat-table class="table" [dataSource]="dataSource">
  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.date | currencyDate }}
    </td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Event</th>
    <td mat-cell *matCellDef="let element">{{ element | currencyEvent }}</td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-button
        (click)="selectConversion(element)"
        class="table__view-button"
      >
        <mat-icon>visibility</mat-icon>
        View
      </button>

      <button
        mat-button
        (click)="removeCurrencyItem(element)"
        class="table__delete-button"
      >
        <mat-icon>delete_forever</mat-icon>
        Delete from history
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
