@import "../../assets/styles/variables.scss";

.title {
  font-size: 48px;
  font-weight: bold;
  color: $default-color;
  padding-bottom: 32px;
  padding-top: 32px;
}

.table {
  width: 100%;
  &__view-button {
    color: $primary-color;
    padding-left: 0;
  }
  &__delete-button {
    color: $warn-color;
  }
  .mat-column-action {
    min-width: 300px;
    button {
      display: none;
    }
  }
  tr:hover {
    .mat-column-action {
      button {
        display: inherit;
      }
    }
  }
  .mat-header-cell {
    font-size: 16px;
    font-weight: bold;
    color: $table-header-color;
  }
  .mat-cell {
    font-size: 16px;
  }
}
