/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html {
  background-color: #f2f2f2;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  overflow-y: scroll;
}
